body {
    background-image: url('../images/peinture-murale-framboise-decohom.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container-index, .container-fluid{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    color: rgb(231, 226, 226);
}

.container-commande, .container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.contact{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    color: rgb(231, 226, 226);
}

/* texte politique de confidentialite */
.container-confi{
    text-align: left;
}


/* Couleur d'ecriture */

p,h1,h4,pre,h3 {
  color: rgb(231, 226, 226);
}

/* contour image des presentations des plats et catégorie */
.arrondie {
    border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}


/* login */
.connecter{
    color: rgb(231, 226, 226);
}

/* bonjour */

.bonjour{
 color:rgb(5, 5, 5);
 font-size: xx-large;
}


/* enregistre */
.inscrit{
    color: rgb(231, 226, 226);
}

/* erreur de connexion (login) */
.erreur{
    color: rgb(219, 216, 25);
    font-size: xx-large;
}

/* Web Responsive */

@media screen and (max-width: 768px) {

    h1,h2,
    p {
        font-size: 2rem
        
    }

    aside {
        position: relative;
        width: 100%;
        background: none;
    }

    ul {
        list-style-position: inside;
        display: block;
    }

    p {
        font-size: medium;

    }

    h1 {
        font-size: medium;

    }

    .tableoverflow {
        overflow: auto;
        width: 100%;
        scrollbar-width: auto;

    }

}
