body {
    background-image: url('../images/peinture-murale-framboise-decohom.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container-index,
.container-fluid {
    text-align: center;
    padding-top: 20px;
    width: 100%;
    color: rgb(7, 7, 7);
}

.container-commande,
.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container_modifp{
    color: azure;
}
.modif_cat{
    color: azure;
}
.container-plats{
    text-align: center;
    
   }


.contact {
    text-align: center;
    padding-top: 20px;
    width: 100%;
    color: rgb(231, 226, 226);
}

/* texte politique de confidentialite */
.container-confi {
    text-align: left;
}


/* Couleur d'ecriture */

p,
h3,h6 {
    color: rgb(14, 13, 13);
}

h1, h4,h5,th,td{
    color: azure;
}


h2{
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
}
/* contour image des presentations des plats et catégorie */
.arrondie {
    border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    object-fit: cover;
    
}


/* login */
.connecter {
    color: rgb(231, 226, 226);
}

/* bonjour */

.bonjour {
    color: rgb(5, 5, 5);
    font-size: xx-large;
}


/* enregistre */
.inscrit {
    color: rgb(231, 226, 226);
}

/* erreur de connexion (login) */
.erreur {
    color: rgb(219, 216, 25);
    font-size: xx-large;
}

/* Web Responsive */

@media screen and (max-width: 768px) {
    .rounded-circle{
        display: none;
    }

    h1,
    h2,
    h3,
    p, pre, {
        font-size: 2rem
    }

    .promos{
        position: relative;
        width: 100%;
        background: none;
    }
    aside {
        position: relative;
        width: 100%;
        background: none;
    }

    ul {
        list-style-position: inside;
        display: block;
    }

    p {
        font-size: medium;

    }

    h2 {
        font-size: medium;

    }

    h3 {
        font-size: medium;

    }

    h1 {
        font-size: medium;

    }

    .tableoverflow {
        overflow: auto;
        width: 100%;
        scrollbar-width: auto;

    }


    .trans{
        position: relative;
        width: 100%;
        background: none;
    }
}

/* gestion des categories */

td,th{
text-align: center;
}


/* Contour card ( index catégorie )*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


  /* CSS Ribbon index */

.ribbon {
  width: 60px;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #da1233;
  color: white;
}

.commande, .container-contact{
    color: rgb(233, 233, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-weight: 900;
    
}
